
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
    background: #000;
    color:#90A4AE; 
    font-family: 'Noto Sans', sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  
.card:hover {
    transform: translateY(-3px) scale(1.1);
 }

